.categories {
  padding-top: 2rem;

  .selectors {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    h2 {
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-size: 2rem;
      color: $black;
      font-weight: 700;
    }

    .wrapper button {
      height: 3rem;
      min-width: 80px;
      padding: 0 1rem;
      margin-right: 1rem;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      background: $white;
      border: 1px solid $border-color2;
      outline: none;

      a {
        font-weight: 500;
        font-size: 12px;
        color: $black;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  .table-wrapper {
    height: 63vh;

    .table-scroll {
      max-height: 100%;
      overflow: scroll;
      background: $white;
      box-shadow: $box-shadow1;
      border-radius: 3px;

      &.remove-borders {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      table {
        border-collapse: collapse;
        width: 100%;

        thead {
          background: $black;

          tr th {
            background: $black;
            height: 3.5rem;
            padding: 1rem 1.5rem;
            border: none;
            text-align: start;
            white-space: nowrap;

            span {
              font-size: 14px;
              font-weight: 700;
              color: $white;
            }
          }

          tr th:first-child {
            text-align: start;
          }
        }

        tbody {
          tr {
            height: 3.5rem;
            border-bottom: 1px solid $lightgrey;

            &:last-child {
              border: none;
            }

            td {
              letter-spacing: initial;
              border-right: 1px solid $lightgrey;
              padding: 1rem 1.5rem;

              span {
                font-size: 12px;
                font-weight: 400;
                color: $black;
              }

              &:last-child {
                border: none;
              }
            }

            .product-name span {
              font-weight: 500;
            }

            .stock span {
              white-space: nowrap;
              font-weight: 400;
              color: $grey;

              &.green,
              &.yellow,
              &.red {
                font-weight: 500;
              }

              &.green {
                color: $green;
              }

              &.yellow {
                color: $yellow;
              }

              &.red {
                color: $red;
              }
            }

            .colors .color {
              margin-bottom: 0.5rem;
              display: flex;
              align-items: center;

              .color-circle {
                background: $black;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                margin-right: 0.5rem;

                &.white {
                  border: 1px solid $grey;
                  background: $white;
                  width: 9px;
                  height: 9px;
                }

                &.grey {
                  background: $grey;
                }

                &.green {
                  background: $green;
                }

                &.yellow {
                  background: $yellow;
                }

                &.red {
                  background: $red;
                }

                &.blue {
                  background: $blue;
                }

                &.purple {
                  background: $purple;
                }
              }

              span {
                font-weight: 500;
              }
            }

            .color:last-child {
              margin: 0;
            }

            .product-number {
              padding-right: 1rem;
              border-right: none;

              span {
                color: $grey;
              }
            }
          }
        }
      }
    }

    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background: $white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .categories {
    padding-top: 3rem;

    .selectors {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0;
      }

      .wrapper button {
        width: 120px;
        margin-right: 1.5rem;

        a {
          font-size: 14px;
        }

        &:hover {
          background: $black;
          border: 1px solid $black;

          a {
            color: $white;
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (min-height: 700px) {
  .categories .container .table-wrapper {
    height: 73vh;
  }
}
